numpy==1.19.0
pandas==1.1.4
jupyterlab==2.2.9
matplotlib==3.3.3
seaborn==0.11.0
pyarrow==0.15.0
scikit-learn==0.22.2
lightgbm==3.1.0
shap==0.37.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0
nltk==3.5